<h1>All Pets</h1>
<% @pets.each do |pet| %>
<ul>
	<li>Pet Name: <%= pet.name %></li>
	<li>Pet Color: <%= pet.color %></li>
	<li>Pet Age: <%= pet.age %></li>
	<li>Pet Owner: <%= pet.owner %></li>
	<li>Agreement: <%= pet.terms %></li>
</ul>
<%= link_to "Edit", edit_pet_path(pet) %>
<%= link_to "Show", pet_path(pet) %>
<% end %>

</br>
<%= button_to "Create New Pet", new_pet_path, :method=> :get %>


