<ul>
	<li>Pet Name: <%= @pet.name %></li>
	<li>Pet Color: <%= @pet.color %></li>
	<li>Pet Age: <%= @pet.age %></li>
	<li>Pet Owner: <%= @pet.owner %></li>
	<li>Agreement: <%= @pet.terms %></li>
</ul>
<%= link_to "Back", pets_path %>